html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
  color: #fff;
  text-align: center;
}

li {
  font-size: 1.125rem;
  justify-content: center;
  text-align: center;
  margin: auto 0;
  list-style-type: none;
}

a {
  margin: 0;
  padding: .4rem 0;
  padding-left: .5em;
  padding-right: .5em;
}

.cereals {
  border-left: 1px solid #a63f38;
  border-right: 1px solid #a63f38;
}

ul {
  display: flex;
  padding: 0;
  margin: auto 0;
  border: 1px solid #a63f38;
  justify-content: center;
}

.branding {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

img {
  width: 40px;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

nav a:hover {
  background-color: #a63f38;
}
